<ol class="list-group my-2">
    <a href="#" (click)="OnSelected()">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{recipe.name}}</div>
                <p>{{recipe.description}}</p>
            </div>
            <span class="">
                <img [src]="recipe.imagePath" alt={{recipe.name}} class="img-fluid rounded " style="max-height: 60px;">
            </span>
        </li>
    </a>
</ol>